@model IEnumerable<InstitutoMVC.Models.Curso>

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>

<p>
    <a asp-action="Crear">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Denominacion)
            </th>
            <th>
                Profesor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Denominacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profesor.Nombre) @Html.DisplayFor(modelItem => item.Profesor.Apellido)
            </td>
            <td>
                @Html.ActionLink("Actualizar", "Actualizar", new { id = item.Id }) |
                @Html.ActionLink("Detalle", "Detalle", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
